/* Put your code here */
.grid{
    display: grid;
    grid-template: 100px 100px/100px auto 100px;
    /* Longhand 
    grid-row-gap: 10px;
    grid-column-gap: 10px; */
    grid-gap: 10px 20px;
    /* shorthand^ */
}

