.grid{
    display: grid;
    grid: 150px 150px / auto-flow 150px; 
     /* Equivalent to:
    grid-auto-flow: column;
    grid-template-columns: none; (default)
    grid-auto-columns: 150px;
    */
    grid-gap: 10px; /* <-- below grid porperty. */

}

.grid div:nth-child(2){
    grid-column: 1 / span 3;
}